body{
    background-color: aqua;
}
h1{
    color: blue;
    text-align: center;
}
hr{
    height: 1px;
    color: black;
}

.name{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
.address{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

.t{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
.c{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue

}
.p{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue
}