<body>
<p>
<h1><u>I am Amitava teaching Angular 13 UI</u></h1>
<hr>
<br>
<div class="name">
Employee Name is {{  ename  }}
</div>
<br>
<div class="address">
Employee address is {{ address}}

</div>
    
<hr>
<h1>Example for event binding....</h1>

<button (click)="display()" style="margin: 50px;">CLICK ME TO GENERATE THE EVENT</button>

<hr>
<h1>Product Information</h1>

<div *ngFor="let x of products">
    <div class="t">
        {{x.title}}
    </div>
    <div class="c">
        {{x.company}}
    </div>
    <div class="p">
        {{x.price}}
    </div>
    
    

</div>

<br>

</body>